<!doctype html>
<html lang="en">
    <% include partials/head %>
<body>
 <% include partials/navbar %>
 
     <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">View or modify the data</h4>
                            <p class="category">Click on a value to modify.</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <th>ID</th>
                                    <th>Phase</th>
                                    <th>Temperature</th>
                                    <th>Lumens</th>
                                    <th>Percentage</th>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < room.tempValues.length; i++) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= phases[i] %></td>
                                            <td><%= room.tempValues[i] %></td>
                                            <td><%= room.lumensValues[i] %></td>
                                            <td><%= room.percentageValues[i] %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
 <% include partials/footer %>
</html>
